.legal-main{
    margin-top: 90px;
    margin-bottom: 90px;
}

.legal-boxes{
    height: 100%;
}

.image-legal{
    width: 100%;
    height: 500px;
    background-image: url("/public/Img/legal-transporatation.jpg");
    background-position: center;
    border-radius: 10px;
} 

/* legal 2 container */
.legal-2-container{
    width: 100%;
    height: 100%;
    background-color: #e8e7f0;
    padding-top: 80px;
}

.legal-2-items{
    padding-left: 100px;
    padding-right: 100px;
}
