.head{
    margin-top: 117px;
    width: 100%;

    background-image: url("/public/img/CAR\ IMAGE\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-overlay{
    width: 100%;
    background-color: rgb(0,0,0,0.6);
}

.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white    ;
}
