.main-about{
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-header{
    height: 200px;
}

header h1{
    padding-top: 90px;
}

.custom-color{
    background-color: #5A86AD;
}

.text-color{
    color: #0C173D;
}

.image-parent{
    width: 50%;
    margin-top: 40px;
}

.image{
    @media screen and (max-width: 1200px) {
        width: 470px;
    }
}