*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-about{
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-parent{
    margin-top: 40px;
}

.about2{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    @media screen and (max-width: 768px) {
        padding: 50px;
    }
}

.disabled{
    padding-top: 73px;
    padding-bottom: 50px;
    padding-left: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.about3{
    border-radius: 20px;
}


