*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-about{
    margin-top: 50px;
    margin-bottom: 100px;
}

.text-color{
    color: #0C173D;
}

.image-parent{
    margin-top: 40px;
}