*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.contact-main{
    padding-top: 100px;
    padding-bottom: 30px;
}

.form{
    margin-top: 120px;
}
.resize{
resize: none;
}