*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.executive-main{
    margin-top: 90px;
    margin-bottom: 90px;
}


/* executive 2 container */

.executive-2-container{
    padding-top: 80px;
}

.executive-2-items{
    padding-left: 100px;
    padding-right: 100px;
    @media screen and (max-width: 768px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
