*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.service-box-container{
    margin-bottom: 50px;
}

.service-box{
    margin-top: 20px;
}

.service-box:hover{
    transform: translateY(-10px);
}

.service-section-2{
    width: 100%;
    height: 400px;
    background-image: url("../../../public/Img/first-container-image2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-overlay{
    width: 100%;
    height: 400px;
    background-color: rgba(3, 3, 3, 0.8);
    padding-top: 125px;
}

.bg-gold{
    background-color: rgb(182, 157, 17);
}

.bg-gold:hover{
    background-color: rgb(116, 102, 22);
}