.service-header{
   height: 200px;
}

.service-box-container{
    margin-top: 90px;
    margin-bottom: 90px;
}

.service-box{
    margin-top: 20px;
}

.service-section-2{
    width: 100%;
    height: 400px;
    background-image: url("/public/img/first-container-image 2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-overlay{
    width: 100%;
    height: 400px;
    background-color: rgba(5, 8, 51, 0.8);
    padding-top: 125px;
}